
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root{
    --primary-green: #7dd5c6;
    --secondary-green: #d4f1e6;
    --tertiary-green: #35625b;
    --bg: rgb(16, 27, 25);
}

h1, h2, h3, h4, h5, p{
    color: rgb(219, 219, 219);
}

body{
    background: var(--bg);
}

.container
{
    height: 100vh;
}

.top{
    position: absolute;
    height: 30rem;
    width: 100%;
    background-color: var(--primary-green);
    z-index: -999;
}

.top::after{
    content: '';
    z-index: -999;
    position: absolute;
    background: var(--bg);
    height: 10rem;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    box-shadow: 0px -10px 2px var(--secondary-green);
}

button{
    padding: 1rem 4rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 1rem;
}