nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 1.2rem;
    font-size: 1rem;
}

.icon{
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    outline: .1px dotted var(--bg);
    background-color: rgba(102, 102, 102, 0.171);
}


